<aside class="sidebar">
  <nav class="nav-menu">

    <a href="/">
      <h2 style="color: crimson; text-decoration: none  ; padding-left: 50px;">SysFLex</h2>
   
    </a>
    <a href="" class="btn-inicio " data-bs-toggle="collapse" role="button" aria-expanded="false">
      <i class="bi bi-house" style="width: 50px; padding-right: 5px;" ></i>
      <span> Inicio</span>

    </a>

    <a href="#/registrar-servicio" class="btn" data-bs-toggle="collapse" role="button" aria-expanded="false">
      <i class="bi bi-file-earmark-plus" style="padding-right: 5px;" ></i>
      <span>Registrar Servicio</span>

    </a>

    <a href="#/programacion" class="btn" data-bs-toggle="collapse" role="button" aria-expanded="false">
      <i class="bi bi-calendar-check" style="padding-right: 5px;" ></i>
      <span>Programación</span>
      <span class="arrow"><i class="fas fa-chevron-right"></i></span>
    </a>

    <a href="#/entregas" class="btn" data-bs-toggle="collapse" role="button" aria-expanded="false">
      <i class="bi bi-clipboard-check"style="padding-right: 5px;" ></i>
      <span>Entregas</span>
      <span class="arrow"><i class="fas fa-chevron-right"></i></span>
    </a>

    <a href="#/cierre" class="btn" data-bs-toggle="collapse" role="button" aria-expanded="false">
      <i class="bi bi-credit-card" style="padding-right: 5px;" ></i>
      <span>Cierre y Liquidacion</span>
      <span class="arrow"><i class="fas fa-chevron-right"></i></span>
    </a>

    <a class="btn" data-bs-toggle="collapse" href="#collapseMantenimiento" role="button" aria-expanded="false"
      aria-controls="collapseMantenimiento">
      <i class="bi bi-wrench-adjustable-circle" style="padding-right: 5px;" ></i>
      <span>Mantenimiento</span>
    </a>
    <div class="collapse btn_sub" id="collapseMantenimiento">
      <a routerLink="/mantenimiento" class="nav-item">
        <i class="bi bi-car-front" style="padding-right: 5px;" ></i>
        Mantenimientos
      </a>
      
      <a routerLink="/vehiculo" class="nav-item">
        <i class="bi bi-car-front" style="padding-right: 5px;" ></i>
        Vehiculo
      </a>
    </div>

  </nav>
  <div class="nav-config">
    <a href="#/perfil" class="btn-user" role="button" aria-expanded="false">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Settings-icon-symbol-vector.png/600px-Settings-icon-symbol-vector.png?20181023000603"
        alt="settings" width="15px" height="15px">
      <span>Configuracion</span>
    </a>
    <a href="#" class="btn-user" role="button">
      <span>Cerrar sesion</span>
    </a>
    <div class="nav-user">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqVg_URh9Mvrm3NYaTlCUyiM7r382ohELc1g&s" alt="user"
        width="50px">

      <div class="user-info">
        <b>Antonella Baldeon</b>
        <p>Secretaria</p>
      </div>

    </div>
  </div>
</aside>